<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>about</title>
    <style>
      h1{
        color: red;
      }
      h2{
        color: blueviolet
      }
      p{
        color: burlywood;
      }
    </style>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <h1>我是about</h1>
    <h2>我是副標</h2>
    <p>我是內容</p>

    <p>我又來練習了耶</p>
    <p>今天我又來練習</p>
    <p>0822 練習</p>


    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
